build/CMakeFiles/*.txt
build/CMakeFiles/generate.*
.vs/
build/*.cmake
build/CMakeFiles/
build/windows/CMakeFiles/
*.depend
build/ZERO_CHECK.*
*.cmake
*.vcxproj.filters
build/CMakeCache.txt
build/ALL_BUILD.vcxproj
bin/
*.so
*.lib
*.dylib
*.a
*.o
libui-*.dir/
libui.dir/
libui-temporary.dir/
